* text=auto !eol
projects/nsisplus/README_EN.txt -text
projects/nsisplus/bb~NsisSetupDev.git_fetch.bat -text
projects/nsisplus/bb~NsisSetupDev.git_init.bat -text
projects/nsisplus/bb~NsisSetupDev.git_pull_all.bat -text
projects/nsisplus/bb~NsisSetupDev.git_reset_all.bat -text
projects/nsisplus/bb~NsisSetupDev.svn_to_git_sync_all.bat -text
projects/nsisplus/bb~NsisSetupLib.git_fetch.bat -text
projects/nsisplus/bb~NsisSetupLib.git_init.bat -text
projects/nsisplus/bb~NsisSetupLib.git_pull_all.bat -text
projects/nsisplus/bb~NsisSetupLib.git_reset_all.bat -text
projects/nsisplus/bb~NsisSetupLib.svn_to_git_sync_all.bat -text
projects/nsisplus/bb~NsisSetupSamples.git_fetch.bat -text
projects/nsisplus/bb~NsisSetupSamples.git_init.bat -text
projects/nsisplus/bb~NsisSetupSamples.git_pull_all.bat -text
projects/nsisplus/bb~NsisSetupSamples.git_reset_all.bat -text
projects/nsisplus/bb~NsisSetupSamples.svn_to_git_sync_all.bat -text
projects/nsisplus/configure.bat -text
projects/nsisplus/gh~NsisSetupDev.git_fetch.bat -text
projects/nsisplus/gh~NsisSetupDev.git_init.bat -text
projects/nsisplus/gh~NsisSetupDev.git_pull_all.bat -text
projects/nsisplus/gh~NsisSetupDev.git_reset_all.bat -text
projects/nsisplus/gh~NsisSetupDev.svn_to_git_sync_all.bat -text
projects/nsisplus/gh~NsisSetupLib.git_fetch.bat -text
projects/nsisplus/gh~NsisSetupLib.git_init.bat -text
projects/nsisplus/gh~NsisSetupLib.git_pull_all.bat -text
projects/nsisplus/gh~NsisSetupLib.git_reset_all.bat -text
projects/nsisplus/gh~NsisSetupLib.svn_to_git_sync_all.bat -text
projects/nsisplus/gh~NsisSetupSamples.git_fetch.bat -text
projects/nsisplus/gh~NsisSetupSamples.git_init.bat -text
projects/nsisplus/gh~NsisSetupSamples.git_pull_all.bat -text
projects/nsisplus/gh~NsisSetupSamples.git_reset_all.bat -text
projects/nsisplus/gh~NsisSetupSamples.svn_to_git_sync_all.bat -text
projects/nsisplus/sf~NsisSetupDev.svn_checkout_all.bat -text
projects/nsisplus/sf~NsisSetupDev.svn_update_all.bat -text
projects/nsisplus/sf~NsisSetupLib.svn_checkout_all.bat -text
projects/nsisplus/sf~NsisSetupLib.svn_update_all.bat -text
projects/nsisplus/sf~NsisSetupSamples.svn_checkout_all.bat -text
projects/nsisplus/sf~NsisSetupSamples.svn_update_all.bat -text
