* text=auto !eol
projects/nsisplus/NsisSetupDev/__init__.bat -text
projects/nsisplus/NsisSetupDev/config.vars.in -text
projects/nsisplus/NsisSetupDev/config.yaml.in -text
projects/nsisplus/NsisSetupDev/configure.bat -text
projects/nsisplus/NsisSetupDev/git_repos.lst.in -text
projects/nsisplus/NsisSetupLib/__init__.bat -text
projects/nsisplus/NsisSetupLib/config.vars.in -text
projects/nsisplus/NsisSetupLib/config.yaml.in -text
projects/nsisplus/NsisSetupLib/configure.bat -text
projects/nsisplus/NsisSetupLib/git_repos.lst.in -text
projects/nsisplus/NsisSetupSamples/__init__.bat -text
projects/nsisplus/NsisSetupSamples/config.vars.in -text
projects/nsisplus/NsisSetupSamples/config.yaml.in -text
projects/nsisplus/NsisSetupSamples/configure.bat -text
projects/nsisplus/NsisSetupSamples/git_repos.lst.in -text
projects/nsisplus/__init__.bat -text
projects/nsisplus/_projects/__init__.bat -text
projects/nsisplus/_projects/config.vars.in -text
projects/nsisplus/_projects/config.yaml.in -text
projects/nsisplus/_projects/configure.bat -text
projects/nsisplus/_projects/git_repos.lst.in -text
projects/nsisplus/config.vars.in -text
projects/nsisplus/config.yaml.in -text
projects/nsisplus/configure.bat -text
projects/nsisplus/deploy/__init__.bat -text
projects/nsisplus/deploy/config.vars.in -text
projects/nsisplus/deploy/config.yaml.in -text
projects/nsisplus/deploy/configure.bat -text
projects/nsisplus/deploy/git_repos.lst.in -text
